@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 11%;
  --foreground: 213 31% 91%;
}

* {
  user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

input, textarea, [contenteditable="true"] {
  user-select: text;
  cursor: text;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-[#0b101b] text-white antialiased;
}

/* Custom Scrollbar for Premium Look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
